$primary-color:#fff;
$secondary-color:#000;

$social-positions: (vk, 0 50%),(ff, 11% 50%),(pencil, 23% 50%), (yandex, 34% 50%), (bear, 45% 50%), (somesocial, 56% 50%), (fb, 68% 50%), (mail, 79% 50%), (star, 90% 50%), (twitter, 100% 50%);
