@font-face {
  font-family: 'TahomaR';
  src: url("../fonts/Tahoma/TahomaRegular.ttf") format('truetype');
}

@font-face {
  font-family: 'TahomaB';
  src: url("../fonts/Tahoma/TahomaBold.ttf") format('truetype');
}
